* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282d35;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: #21222a;
}
.nav-title {
  display: flex;
  align-items: center;
  padding-right: 4px;
  /* justify-content: space-between; */
}

.nav-title > h3 {
  font-weight: 600;
  font-size: 24px;
  color: #61dafb;
}

.nav-items {
  list-style: none;
  display: flex;
  color: #deebf8;
}

.nav-items > li {
  padding: 10px;
}

.react-logo {
  width: 40px;
  margin-right: 6px;
}

main {
  padding: 36px 27px;
  position: relative;
}

.main-title {
  margin-bottom: 40px;
  letter-spacing: -0.02em;
  font-size: 39px;
}

.main-facts > li {
  margin-bottom: 16px;
  max-width: 400px;
}

.main-facts > li::marker {
  color: #61dafb;
  font-size: 1.4em;
}

.react-logo-grey {
  position: absolute;
  right: 0;
  margin-top: -250px;
  z-index: -1;
}
